{% extends "base.html" %}

{% block main_space %}

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email address</th>
            <th>Staff status</th>
            <th>Active</th>
            <th>Date joined</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for player in object_list %}
        <tr>
            <td>{{ player.username }}</td>
            <td>{{ player.email }}</td>
            <td>{% if player.is_staff %}Yes{% else %}No{% endif %}</td>
            <td>{% if player.is_active %}Yes{% else %}No{% endif %}</td>
            <td>{{ player.date_joined }}</td>
            <td><a href="{% url 'player_detail' player.pk %}">View</a>
                &nbsp;
                <a href="{% url 'player_update' player.pk %}">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock main_space %}
