
    <table>
        <thead>
            <tr>
                <th class="l">Field</th>
                <th class="r">Value</th>
            </tr>
        </thead>
        <tbody>
            {% if form.non_field_errors %}
                <div class="error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <tr id="form-{{ form.prefix }}">
                {% for field in form %}
                    <tr>
                        <td class="l">{{ field.label_tag }}</td>
                        <td class="r">
                            {{ field }}
                            {% if field.errors %}
                                <div class="error">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>