{% extends "base.html" %}

{% block main_space %}
<h1>Match Detail</h1>
<table>
    <thead>
        <tr>
            <th class="l">Field</th>
            <th class="r">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="l">Round</td>
            <td class="r">{{ match.round.name }}</td>
        </tr>
        <tr>
            <td class="l">Tournament</td>
            <td class="r">{{ match.round.tournament.name }}</td>
        </tr>
        <tr>
            <td class="l">Referees</td>
            <td class="r">
                {% if match.referee.exists %}
                    <ul>
                        {% for referee in match.referee.all %}
                            <li>{{ referee.username }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    No referees assigned
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="l">Player Scores</td>
            <td class="r">
                <ul>
                    {% for score in playerscores %}
                        <li>{{ score.player.username }}: {{ score.score }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>
{% endblock main_space %}
