<!-- round_update_match_list.html -->

{% extends "base.html" %}

{% block main_space %}

<h1>Round Update and Match List</h1>

<div id="round-update-container">
    <form method="post" enctype="multipart/form-data" action="{% url 'round_update' tournament_pk=tournament.pk round_pk=round.pk %}">
        {% csrf_token %}
        <h1>{{ round_update_form.instance.id|yesno:"Update Round,Create Round" }}</h1>
        <table>
            <thead>
                <tr>
                    <th class="l">Field</th>
                    <th class="r">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for field in round_update_form %}
                    <tr>
                        <td class="l">{{ field.label_tag }}</td>
                        <td class="r">{{ field }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan=2 class="l"></td>
                </tr>
            </tbody>
        </table>
        <button class="button-68" type="submit">Save</button>
    </form>
</div>

<div id="match-list-container">
    <h1>Match List for {{ round.name }}</h1>
    <table>
        <thead>
            <tr>
                <th>Referee</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>
                    {% if match.referee.exists %}
                        <ul>
                            {% for referee in match.referee.all %}
                                <li>{{ referee.username }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        No referees assigned
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'match_detail' tournament.pk round.pk match.pk %}">View</a>
                    &nbsp;
                    <a href="{% url 'match_update' tournament.pk round.pk match.pk %}">Edit</a>
                    &nbsp;
                    <a href="{% url 'playerscore_update' tournament.id round.id match.id  %}">Players</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main_space %}
