<div id="tournament-table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.start_date }}</td>
                <td>{{ tournament.end_date }}</td>
                <td><a href="{% url 'tournament_detail' tournament.pk %}">View</a>
                    {% if user.is_authenticated %}
                    &nbsp;
                    <a href="{% url 'tournament_update' tournament.pk %}">Edit</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
