{% extends "base.html" %}

{% block main_space %}
<p>© BilliardPortal 2024. All rights reserved.</p>

<p>This website and its content are the property of Tomas Bachman unless otherwise stated. Unauthorized use and/or duplication of this material without express and written permission from this site’s author and/or owner is strictly prohibited.</p>

<p>Excerpts and links may be used, provided that full and clear credit is given to Tomas Bachman with appropriate and specific direction to the original content.</p>

<p>For any inquiries, please contact us at www.billiardportal.com/contact/.</p>
{% endblock main_space %}
