{% if not user.is_authenticated %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'login' %}?next={{ request.path }}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
{% endif %}

{% if user.is_authenticated %}
    <p>Logged user: {{ user.username }}</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% endif %}
