{% extends "base.html" %}

{% block main_space %}
{% comment %} <form method="post" action="{% url 'submit_form' %}" id="form-{{ form.prefix }}"> {% endcomment %}
<form method="post" id="form-{{ form.prefix }}">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th class="l">Field</th>
                <th class="r">Value</th>
                {% comment %} <th class="r">Action</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% if form.non_field_errors %}
                <div class="error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <tr id="form-{{ form.prefix }}">
                {% for field in form %}
                    <tr>
                        <td class="l">{{ field.label_tag }}</td>
                        <td class="r">
                            {{ field }}
                            {% if field.errors %}
                                <div class="error">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <button class="button-68" type="submit">Submit</button>
    <button
    class="button-68"
    type="button"
    hx-delete="{% url 'delete_form' %}" 
    hx-target="closest form"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Delete</button>
</form>
{% endblock main_space %}